body {
  text-align: center;
  font-family: Trebuchet, sans-serif;
  background-color: #dfdada;
  color: #008b8b;
}

section {
  text-align: left;
  width: 150px;
  margin: 0 auto 0 auto;
}

h4, p {
  text-align: center;
}

input, label {
  margin-bottom: 15px;
}

div {
  width: auto;
  text-align: center;
  display: inline;
}

footer {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}
